# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build output
dist/
build/

# Environment files
.env
backend/.env
frontend/.env

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
